@using Proxomo;

@{
    ViewBag.Title = "FacebookLoginSample";
}
<script>
    ////your app Id
    //String appID = "HerDPUfmteiNdi6Z";
    ////your api key 
    //String apiKey = "GMRqmIeLaqGkDFn6tw4wEQuqsje2GEFa6+DKbLsJdLk=";
    //String token = "xHpw3jHh/xyQRwzBLa8/yGHJ2ce8KQcMABuF4h08rSY=";
</script>

<h2>FacebookLoginSample</h2>
<form method="post" action ="https://service.proxomo.com/login.aspx?application_id={HerDPUfmteiNdi6Z}&display_type=page&response_url={/home/index}&auth_token={xHpw3jHh/xyQRwzBLa8/yGHJ2ce8KQcMABuF4h08rSY=}">
    <input type="submit" title="login FB"  />
</form>
